body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;          
  align-items: center;
  padding: 16px 24px;
  background: #00f6e2;
  color: rgb(10, 0, 0);
}


.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
  margin-left: 40px;
}

.btn {
  margin-left: auto;    
  background: white;
  color: #000904;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}


.nav {
  flex: 1 1 100%;           
  margin-left: 0;
}

.btn {
  flex: 1 1 100%;
  margin-left: 0;
  text-align: center;
}